* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Trebuchet MS', 'helvetica', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #fff url(/img/noticias-cidade/fundo.png) repeat-x top left;
}

body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,
body.economia #navegacao a#economia,
body.internacional #navegacao a#internacional,
body.saude #navegacao a#saude,
body.ciencia #navegacao a#ciencia,
body.fotos #navegacao a#fotos {
    color: whitesmoke;
    background: #de003e;
    cursor: text;
}

#container {
    width: 750px;
    margin: 0 auto;
}

/* Menu */

#topo {
    height: 150px;
    padding-top: 25px;
    background: url(/img/noticias-cidade/detalhe-topo.png) no-repeat right top;
}

.logo {
    width: 152px;
    height: 66px;
    background: url(/img/noticias-cidade/logo.png) no-repeat center;
    /* poderia usar display none mas o robo do goolge não gosta */
    text-indent: -3000px;
}

#topo ul {
    background: #b10333;
    margin-top: 30px;
    float: left;
}

#topo ul li {
    float: left;
}

#topo ul a {
    font-size: .9em;
    display: block;
    padding: .5em 1.5em;
    line-height: 2.1em;
    color: whitesmoke;
    background: url(/img/noticias-cidade/divisor.png) no-repeat left center;
}

#topo ul .primeiro a {
    background: none;
}

#topo ul a:hover {
    color: #69001d;
    background-color: #de003e;
}

/* Conteudo */

#conteudo {
    width: 750px;
    margin-top: 60px;
    background: #f5f5f5;
}

#lateral {
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;
}

#primario {
    width: 270px;
    float: left;
    margin: 0 .515px 20px 194.5px;
}

#duas-colunas #primario {
    width: 555px;
}

h2.center {
    text-align: center;
}

#duas-colunas .entrevista h3 {
    background: #b10333;
    color: whitesmoke;
}

#uma-colunas #primario {
    width: 750px;
    margin: 0 .515px 20px 0;
}

#secundario {
    width: 270px;
    float: left;
    margin: 0 0 20px 11px;
}


#container-rodape {
    background: #294c71;
    padding: 20px;
}

#rodape {
    width: 750px;
    margin: 0 auto;
    color: whitesmoke;
}

.caixa {
    padding: 5px 0 5px 0;
    margin: 10px 0;
    background: #f3f3f3 url(/img/noticias-cidade/fundo-caixa.png);
}

h2 {
    font-size: 1em;
    background: #293c71;
    color: whitesmoke;
    padding: 5px;
}

.caixa-conteudo {
    background: whitesmoke;
    padding: 5px;
    margin-top: 5px;
}

/* menu lateral */

#lateral ul a {
    font-size: .9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: #242423;
    border-bottom: 1px solid #f3f3f3;
}

#lateral ul a:hover {
    padding-left: 20px;
    background: #f9f9f9 url(/img/noticias-cidade/marcador.png) no-repeat left center;
    color: #a1a1a1;
}

#lateral label {
    display: block;
    cursor: pointer;
}

#lateral input {
    width: 125px;
    padding: 5px;
    font-size: .9em;
    background-color: whitesmoke;

}

#lateral input.submit {
    width: 80px;
    color: whitesmoke;
    background-color: #b10333;
    border: 2px solid #870529;
}

/* formatando cabeçalhos */

h3 {
    text-transform: uppercase;
    display: inline;
    font-size: .8em;
    padding: 3px;
}

/* colocando h3.destaque teriamos que aplicar várias vezes */
.destaque h3 {
    background: #b10333;
    color: whitesmoke;
}

.entrevista h3 {
    background: #de003e;
    color: #242423;
}

.entrevista p,
.destaque p {
    margin-bottom: 10px;
}

.destaque a,
.entrevista a {
    font-size: .9em;
    padding: 1px;
    border-radius: 2px;
    background: #b10333;
    color: whitesmoke;
}

.destaque a:hover,
.entrevista a:hover {
    background: #de003e;
    color: #69001d;
}

/* formatando imagens */

.destaque img,
.entrevista img {
    width: 98%;
    border: 3px solid whitesmoke;
}

img {
    border: 2px solid #dfdfdf;
}

/* formatando lista de notícias */

#lista-noticias li {
    padding: 2px;
    border-bottom: 1px solid #ccc;
    height: 63px;

}

#lista-noticias li a img {
    float: left;
    margin: 5px;
}

#lista-noticias li a h3 {
    color: #3e7ab9;
    font-size: .8em;
    padding: 0;

}

#lista-noticias li a p {
    font-size: .7em;
}

#lista-noticias li:hover {
    background: rgb(223, 217, 217);
    cursor: pointer;
}

/* classes para pontos fora da curva */

a.img-link {
    background: none;
}

a.img-link:hover {
    background: none;
}